.team-section {
  background: #f5f4fa;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 30px;
}

.team-list__item {
  margin-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:last-child {
    margin-bottom: 0;
  }
}

.team-picture {
  display: flex;
}

.person-image {
  width: 100%;
}

.person {
  padding-top: 30px;
  padding-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  max-width: 206px;
}

.person__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-align: center;
}

.person__position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }

  .team-list__item {
    width: 354px;
    height: 536px;
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc((100% - 60px) / 2);

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .team__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }

  .team-list {
    flex-wrap: unset;
    margin-right: 0;
    margin-bottom: 0;
  }

  .team-list__item {
    width: 270px;
    height: 428px;
    margin-right: 30px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .person {
    padding-bottom: 30px;
  }
}
