.hero-btn {
  font-family: inherit;
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: #188ce8;
  }
}
